{% extends "flitesite/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
  <body style="padding-top: 70px">
    {% if user_obj %}
        <h3>This is the page for the user with CID {{user_obj.cid}}</h3>
        <h3>{{gt}}</h3>

        <ul class="list-unstyled">
            <li>Name: {{ user_obj.realname }}</li>
            {% if user_obj.pilot_rating != "" %}
              <li>Pilot Rating: {{ user_obj.pilot_rating }}</li>
            {% else %}
              <li>Pilot Rating: This user does not currently have a pilot rating</li>
            {% endif %}

            {% if user_obj.atc_rating != "" %}
              <li>ATC Rating: {{ user_obj.atc_rating }}</li>
            {% else %}
              <li>ATC Rating: This user does not currently have an ATC rating</li>
            {% endif %}

              <li>This user most often flies this airport pair: {{ common_airports.airport1}}</li>

        </ul>

        <h3>Flights associated with this pilot</h3>
        {% if flights_list %}
        <table class="table">
          <tr>
            <th>Callsign</th>
            <th>Date</th>
            <th>Origin</th>
            <th>Destination</th>
          </tr>
          {% for flight in flights_list %}
          <tr>
            <td><a href="{% url 'flightdetail' just_date=flight.just_date|date:'Y-m-d' callsign=flight.callsign cid=flight.cid %}">{{flight.callsign}}</a></td>
            <td>{{flight.just_date}}</td>
            <td>{{flight.planned_depairport}}</td>
            <td>{{flight.planned_destairport}}</td>
          </tr>

          {% endfor %}
        </table>
        {% else %}
        <p>There are no flights associated with this pilot</p>
        {% endif %}

    {% else %}
        <p>Ain't no user here.</p>
    {% endif %}
  </body>

</html>
{% endblock %}
