h1 {
    color: #800000;
    font-family: 'Lobster';
}
body {
    padding-left: 15px;
    padding-right: 15px;
}

nav{
    padding-left: 15px;
    padding-right: 15px;
}

div.wrapper{
  overflow:hidden;
  overflow-y: scroll;
  height: 80%; 
}
