{% extends "flitesite/base.html" %}
{% load staticfiles %}
{% block content %}
<html>
  <body style ="padding-top: 70px">
    <h1>Active Flights</h1>
    {% if actives %}
    <div class="wrapper">
      <table class="table">
        <tr>
          <th>Callsign</th>
          <th>CID</th>
          <th>Date and Time</th>
          <th>Origin</th>
          <th>Destination</th>
        </tr>
        {% for flight in actives %}
        <tr>
          <td>{{flight.active.callsign}}</td>
          <td>{{flight.active.cid}}</td>
          <td>{{flight.active.datetime}}</td>
          <td>{{flight.flight.planned_depairport}}</td>
          <td>{{flight.flight.planned_destairport}}</td>
        </tr>
    </div>
        {% endfor %}
    {% else %}
      <p> There are currently no active flights</p>
    {% endif %}
  </body>

</html>
{% endblock %}
