{% extends "flitesite/base.html" %}
{% load staticfiles %}
{% block content %}

<html>
  <body style ="padding-top: 70px">
    <script src="http://d3js.org/d3.v3.js"></script>
    <style type="text/css">
          .line {
              fill: none;
              stroke: steelblue;
              stroke-width: 1.5px;
              }
          .axis text{
              font-family:sans-serif;
              font-size:11px;
          }
          .axis path,
          .axis line{
            fill:none;
            stroke:gray;
            shape-rendering: crisp-edges;
          }
    </style>
    <script>

    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;


    d3.json("{% url 'altitude' just_date=req_flight.just_date|date:'Y-m-d' callsign=req_flight.callsign cid=req_flight.cid %}", function(error, data) {
      data.forEach(function(d) {
        d.index = +d.index;
        d.altitude = +d.altitude;
      });

      var xScale = d3.scale.linear().range([0,width - 20],.1).nice()
        .domain([d3.min(data, function(d){return +d.index;}), d3.max(data, function(d){return +d.index;})]);

      var yScale = d3.scale.linear().range([height, 10]).nice()
      .domain([0,60000]);
        //.domain([0,d3.max(data, function(d){return +d.altitude;})]);

      var svg = d3.select("body").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var xAxis = d3.svg.axis()
          .scale(xScale)
          .orient("bottom");

      var yAxis = d3.svg.axis()
          .scale(yScale)
          .orient("left");

      var line = d3.svg.line()
          .x(function(d) { return xScale(+d.index); })
          .y(function(d) { return yScale(+d.altitude); });

      console.log (data);
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end");

      svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);
    });

    </script>
  </body>
</html>
{% endblock %}
